<div class="modal bottom-sheet">
        <div class="modal-content">
                <h4 class="modal-header">Modal Header</h4>
                <table>
                    <tr>
                        <td class="progressPreloaderContainer">                                    
                            <div class="preloader-wrapper big active">
                                <div class="spinner-layer spinner-blue">
                                    <div class="circle-clipper left">
                                    <div class="circle"></div>
                                    </div><div class="gap-patch">
                                    <div class="circle"></div>
                                    </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                    </div>
                                </div>
                            
                                <div class="spinner-layer spinner-red">
                                    <div class="circle-clipper left">
                                    <div class="circle"></div>
                                    </div><div class="gap-patch">
                                    <div class="circle"></div>
                                    </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                    </div>
                                </div>
                            
                                <div class="spinner-layer spinner-yellow">
                                    <div class="circle-clipper left">
                                    <div class="circle"></div>
                                    </div><div class="gap-patch">
                                    <div class="circle"></div>
                                    </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                    </div>
                                </div>
                            
                                <div class="spinner-layer spinner-green">
                                    <div class="circle-clipper left">
                                    <div class="circle"></div>
                                    </div><div class="gap-patch">
                                    <div class="circle"></div>
                                    </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                    </div>
                                </div>
                            </div>                                    
                        </td>
                        <td>                                    
                            <h5 class="progressMsg">A bunch of text</h5>
                        </td>
                    </tr>
                </table>
                <br>
                <h6 class="dialogMsg">A bunch of text</h6>
                
        </div>
        <div class="modal-footer">
            <a class="dialogPositiveButton waves-effect waves-green btn-flat">OK</a>
            <a class="dialogNegativeButton modal-close waves-effect waves-red btn-flat">Cancel</a>
        </div>
    </div>