<!--Inject it into a <header></header>-->
 <!--Sidenav--> 
 <ul id="slide-out" class="sidenav sidenav-fixed" >
        <li class="slide-out-top">
            <!-- Paper
            <div class="row" style="margin: 0; padding: 0; margin: 0">                
                <div class="col s12 sectorSelectContainer">
                    <select>
                        <option disabled selected>Choose Sector</option>
                        <option>Banking & Insurance</option>
                        <option>2</option>
                    </select>
                </div>    
            </div>   
            -->        
            <a class="subheader sidenavHeader"></a>            
        </li>
        
        <!--<li><div class="divider"></div></li>-->
        <!-- Exam Body (Multi line tested) -->
        <!--
        <li>
            <div onclick='fetchPapers(124)' class="waves-effect sidenavElement">
                <a class="examAbbreviation">exam abbr</a>                
            </div>
            <li><div style="margin-top: 0" class="divider"></div></li>
        </li>
        -->
        
        <!--
        <li>
            <div onclick='startFetchingPackage(this)' class="waves-effect sidenavElement tooltipped" data-tooltip="Summer IBPO 2019" data-position="right">                
                <div class="packageName"><a>Summer IBPO 2019</a></div>                                                
                <div  class="packageData">
                    <a class="packageExamCount"><span class="customBadge">Associated Exams</span>&nbsp;&nbsp;&nbsp;2</a>                    
                </div>
            </div>            
        </li>
        -->
        

    </ul> 
<div class="navbar-fixed">
    <nav class="nav-extended">
        <div class="nav-wrapper">
            <ul class="left">
                <li id="sidenavTriggerHolder">
                    <a href="#!" data-target="slide-out" id="sidenavTrigger" class="waves-effect brand-logo left sidenav-trigger">
                        <i class="material-icons">menu</i>
                    </a>
                </li>
                <li><x class="navTitle">Editor Console</x><y data-tooltip="Logout" onclick="logout()" class="tooltipped waves-effect waves-light" style="padding: 5px; border-radius: 20px; transform: translateY(-5px) translateX(10px); color: rgb(241, 236, 233);"><span class="material-icons">exit_to_app</span></y></li>
            </ul>
            <ul class="right">
                <li id="versionContainer">
                    <x>BUILD 0.78.3</x>
                </li>
            </ul>
        </div>
        <div class="nav-content">
            <ul class="tabs tabs-transparent">
                <li class="tab"><a target="_self" href="exam.html">Exam</a></li>
                <li class="tab"><a target="_self" href="paper.html">Papers</a></li>                
                <li class="tab"><a target="_self" href="package.html">Package</a></li>
                <li class="tab"><a target="_self" href="dashboardController.html">User Dashboard</a></li>                
                <li class="tab"><a target="_self" href="coupon.html">Coupons</a></li>                
                <!--<li class="tab"><a href="sector.html">Sector</a></li>-->
                <!--<li class="tab" onclick="window.location.href='exam.html'"><a>Exam<!--<span class="badge white navBadge">N</span>--><!--</a></li>-->
                <!--<li class="tab" onclick="window.location.href='paper.html'"><a>Paper</a></li>-->
                <!--<li class="tab" onclick="window.location.href='section.html'"><a>Section</a></li>-->                
                <!--<li class="tab"><a href="#test3">Coupons</a></li>
                <li class="tab"><a href="#test4">Notification</a></li>
                <li class="tab"><a href="#test4">Articles</a></li>-->
            </ul>
        </div>
        
    </nav>
    
                      
</div>