@import url('https://fonts.googleapis.com/css?family=Oxygen|Hammersmith+One|Comfortaa|Montserrat|Poiret+One|Quicksand|Raleway|Varela|Titillium+Web&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "/content/style/navbar.css";
@import "/content/materialize/css/materialize.min.css";
@import "/content/style/materialModal.css";



body{
    overflow: visible;
}


.placeholder{
    padding-top: 10vh;
    text-align: center;
    display: block;
}

.placeholder a i{
    font-size: 200px;
    color: #d8d4d4
}

.placeholder p {
    font-size: 20px;
    font-weight: bold;
    font-family: Titillium Web;
    color: #afaeae
}


main{
    padding-top: 10px;
    overflow: visible;
}

.container.primary{
    margin-top: 20px !important;
    width: 90% !important;
    padding-bottom: 40px;
    display: none;
    overflow: visible;
}


#idContainer span{
    font-family: Quicksand;
}

#idContainer a{
    margin-left: 10px;
    font-weight: bold;
    font-family: Quicksand;
    font-size: 10px;
}

#idContainer i{
    margin-left: 10px;
    color: rgb(102, 104, 105);
    padding: 5px;
    border-radius: 40px;
    cursor: pointer;
}

.input-field{
    margin-top: 40px;   
}

#inputContainer .modal-content{
    padding: 40px !important;
}

#inputContainer .modal-footer{
    padding-right: 40px !important;
}

.rules{
    color: #757575;
    font-size: 12px;
}

.rules h6{
    font-weight: bold;
    text-transform: uppercase;
}

.rules p{
    margin: 0 !important;
}


.customBadge{
    background: green;
    padding: 2px 5px;
    border-radius: 3px;
}

#inputHeading{
    padding-top: 10px;
}

#inputContainer .modal-footer{
    background: #f3f1f1;
    border-radius: 0px !important;
}

.secondary-content{
    border-radius: 40px;
    padding: 2px;
    transform: translateY(-2px);
}


.collection-header h4 a {
    padding: 5px;
    margin-left: 20px;
    border-radius: 40px;
}

.pricingHeading{
    margin-top: 20px;
    margin-bottom: 30px;
}

#examRefreshButton{
    margin-left: 10px;
    border-radius: 40px;
    padding: 5px;
}

/*Package Icon*/
.optionImage{
    width: 100%;
    height: 200px;
    border-radius: 5px;
    border-width: 0;
    border-style: none;
    border-color: rgba(0, 0, 0, 0.0);
}

.ImageContainer{
    max-width: 200px;
    border-radius: 5px; 
    border-style: solid; 
    border-color: rgba(0, 0, 0, 0.0);
    border-radius: 3px;
    box-shadow: #dddcdc 1px 1px 7px;    
    border-width: 0;
    background: rgb(254, 254, 254);
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}

.ImageContainer:hover .controlContainer{
    visibility: visible;
    transform: translateY(0);
}

.ImageContainer .controlContainer{    
    position: absolute; 
    top: 0px; 
    text-align: right; 
    width: 100%; 
    margin: 0; 
    color: white; 
    padding: 10px; 
    background: rgba(0, 0, 0, 0.3);/*linear-gradient(to bottom, #bdbdbd, #cdcdcd, #dedede, #eeeeee, #ffffff);*/
    visibility: hidden;
    transition: 0.2s;
    transform: translateY(-50px);
}

.ImageContainer .controlContainer .control{
    border-radius: 40px;
    color: white;
}

.ImageContainer img{
    cursor: pointer;
}

/*Sidenav Body Element*/

.sidenavElement{
    display: block !important; 
    padding-top: 15px;
    padding-left: 25px !important; 
    transition: 0.5s;
    overflow: hidden;
    padding-right: 10px;  
    padding-bottom: 5px;      
}

.sidenavElement.active{
    background: #e4e2e2;
}

.sidenavElement:hover{
    background: #f1f0f0;

}

.sidenavElement:hover ~ .divider{
    background: #f1f0f0;   
}

.sidenavElement a{
    line-height: 16px !important;    
    margin-top: 10px;
    color: #757575;
}

.sidenavElement .packageName{        
    font-size: 18px;            
    white-space: nowrap;
    padding-bottom: 3px;
    text-overflow: ellipsis !important;
    overflow: hidden !important;    
    width: 100%;    
}

.sidenavElement .packageName a{
    color: #757575;
    font-weight: bold;
}

.sidenavElement .packageData{    
    overflow: hidden !important;    
    text-overflow: ellipsis !important;      
    white-space: nowrap;     
    color: #420707;     
    padding: 5px 0;  
    margin-bottom: 5px;
}

.sidenavElement .packageData .packageExamCount span, .sidenavElement .packageData .packageId span{    
    font-size: 10px;    
    background: rgb(64, 150, 21);  
    border-radius: 5px; 
    color: #fff;
    font-weight: bold;        
}

.sidenavElement .packageData .packageExamCount span{
    transform: translateY(-10px) !important;
}

div.packageData{
    margin-bottom: 0px !important;
}

.sidenavElement .packageData .packageId span{
    background: green;
    margin-left: 10px;
}

.sidenavElement .packageData .packageExamCount, .sidenavElement .packageData .packageId{
    color: #424242;
    
}

.starBadge{
    margin-left: 10px;
    transform: translateY(5px);
    color: rgb(238, 134, 15);
    font-size: 18px;
}

.sidenavHeader span{
    margin-left: 10px; 
    vertical-align: middle;
    cursor: pointer;
}

/*Sidenav Scrollbar*/
#slide-out{
    overflow-y: scroll
}

#slide-out::-webkit-scrollbar {
    width: 3px;
}
 
#slide-out::-webkit-scrollbar-track {
    opacity: 0;
}
 
#slide-out::-webkit-scrollbar-thumb {
  background-color: rgba(128, 0, 128, 0.1);
  outline: 1px solid slategrey;  
}